<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>K.O. Practices</title>

    <link href="@Url.Content("~/Content/Styles/Main.less")" rel="stylesheet/less" type="text/css"/>
    <script src="@Url.Content("~/Scripts/less-1.5.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-3.1.0.js")" type="text/javascript"></script>
</head>
<body>
    <ul id="NavigationMenu">
        <li>@Html.ActionLink("Observable Array", "ObservableArray", null, null)</li>
        <li>@Html.ActionLink("Observables", "Observables", null, null)</li>
        <li>@Html.ActionLink("Utilities", "Utilities", null, null)</li>
    </ul>
    <div id="AppContents">
        @RenderBody()
    </div>
</body>
</html>
